.jumbotron h1 {
	font-family: 'Faster One', cursive;
	font-size: 100px;
	text-align: center;
	color: rgb(96, 54, 15);
}

h2 {
	font-family: 'Faster One', cursive;
	font-size: 50px;
	text-align: center;
	color: rgb(229, 185, 51);
}

.jumbotron img {
	float: center;
	height: 150px;
	padding-right: 0;
}


.tapHandle {
	height: 200px;
	display: inline-block;
	position: relative;
	margin: -5px -50px;
	top:50%;
	left:50%;
}

.col-sm-3 {
	width: 300px;
}

#glass{
	z-index: 2;
	height: 300px;
	width: 100%;
	position: absolute;
}

.beerGlass {
	background-color: rgb(229, 185, 51);
}

.glassDiv {
	height: 300px;
}

#gray {
	z-index: 1;
	/*width: 300px;
	position: absolute;*/
	background-color: rgb(189, 195, 199);
}
